@import (less) "node_modules/powerbi-visuals-utils-interactivityutils/lib/index.css";
@import (less) "node_modules/powerbi-visuals-utils-chartutils/lib/index.css";
@import (less) "node_modules/overlayscrollbars/css/OverLayScrollbars.min.css";

* {
    box-sizing: border-box;
}

.small-multiple-line-chart {
    shape-rendering: geometricPrecision;
}

.small-multiple-line-chart {
    position: absolute;
}

.small-multiple-axis .tick line.dashed {
    stroke-dasharray: 5, 5;
}

.small-multiple-axis .tick line.dotted {
    stroke-dasharray: 1, 5;
}

.tooltip-overlay {
    fill: transparent;
    pointer-events: all;
}

.hover-line {
    stroke: rgb(96, 94, 92);
}

.small-multiple-border {
    fill: none;
}

.small-multiple-measure.dashed {
    stroke-dasharray: 5, 5;
}

.small-multiple-measure.dotted {
    stroke-dasharray: 1, 5;
}

.small-multiple-measure.dotdash {
    stroke-dasharray: 5, 5, 1, 5;
}


.visual-container {
    display: grid;
    grid-template-areas: "y-title visual-canvas" ". x-title";
  }
  
.x-title {
    grid-area: x-title;
}

.y-title {
    grid-area: y-title;
}

.visual-canvas {
    grid-area: visual-canvas;
    overflow: auto;
}